{{ templater_entry | default("<% await tp.user.world_entity(tp) %>") }}
# `=this.nome`

> [!infoboxwiki]- {{ label | default("Codex") }}
> Mondo: `INPUT[mondo][:mondo]`
>
> Stato: `INPUT[stato base][:stato]`
>
> Tipo: `=this.tipo`
>
> Pubblico: `INPUT[toggle:pubblico]`
>
> Canonico: `INPUT[canonico][:canonico]`

````tabs
tab: Crea

> [!scena] Identita
> `INPUT[text:identita]`
>
> > [!lettura]- Versione pubblica
> > `INPUT[text:player_safe]`
>
> > [!segreto]- Livello DM
> > `INPUT[text:segreto]`

> [!missione] Uso Al Tavolo
> `INPUT[text:uso_al_tavolo]`
>
> > [!timer]- Conseguenza
> > `INPUT[text:conseguenza_potenziale]`
>
> > [!conflitto]- Prossima mossa
> > `INPUT[text:prossima_mossa]`

tab: Connessioni

> [!regia] Collegala Subito
> Una voce isolata resta enciclopedia. Scegli almeno due note vive.
>
> `INPUT[inlineListSuggester(optionQuery("Mondi"), useLinks(partial), allowOther):connessioni]`

```dataview
{{ modules.dataview_blocks.blocks.linked_connections_table.code }}
```

> [!timer]- Propagazione
> Entita impattate:
> `INPUT[inlineListSuggester(optionQuery("Mondi"), useLinks(partial), allowOther):entita_impattate]`
>
> Propaga a:
> `INPUT[inlineListSuggester(optionQuery("Mondi"), useLinks(partial), allowOther):propaga_a]`

tab: Articolo

> [!lettura] Cosa Sa Un Abitante
> ```meta-bind
> INPUT[list:abitante_sa]
> ```

> [!segreto]- Cosa Sa Il DM
> ```meta-bind
> INPUT[list:dm_sa]
> ```

> [!scena] Cosa Cambia Al Tavolo
> ```meta-bind
> INPUT[list:cambia_al_tavolo]
> ```

tab: Controllo

```dataviewjs
{{ modules.dataview_blocks.blocks.feedback_creazione.code }}
```

```dataviewjs
{{ modules.dataview_blocks.blocks.world_impact.code }}
```
````

## Fallback Markdown

| Blocco | Valore |
| --- | --- |
| Identita |  |
| Uso al tavolo |  |
| Connessioni |  |
| Entita impattate |  |
| Propaga a |  |
| Prossima mossa |  |
| Conseguenza potenziale |  |
| Versione pubblica |  |
| Cosa sa il DM |  |
| Cosa cambia al tavolo |  |
