{{ templater_entry }}
# `=this.nome`

> [!infoboxwiki]- {{ blueprint.get("template_title", label) }}
> Mondo: `INPUT[mondo][:mondo]`
>
> Stato: `INPUT[stato][:stato]`
>
> Pubblico: `INPUT[toggle:pubblico]`
>
> Canonico: `INPUT[canonico][:canonico]`

````tabs
tab: Tavolo

> [!scena] Identita
> `INPUT[text:identita]`
>
> > [!lettura]- Versione pubblica
> > `INPUT[text:player_safe]`
>
> > [!segreto]- Livello DM
> > `INPUT[text:segreto]`

> [!missione] Uso Al Tavolo
> Gancio: `INPUT[text:gancio]`
>
> Uso: `INPUT[text:uso_al_tavolo]`
>
> Prossima mossa: `INPUT[prossima_mossa][:prossima_mossa]`
>
> Conseguenza: `INPUT[text:conseguenza_potenziale]`

tab: Connessioni

> [!regia] Collegala Subito
> `INPUT[connessioni][:connessioni]`
>
> Entita impattate: `INPUT[entita_impattate][:entita_impattate]`
>
> Propaga a: `INPUT[propaga_a][:propaga_a]`

```dataview
{{ modules.dataview_blocks.blocks.linked_connections_table.code }}
```

tab: Controllo

```dataviewjs
{{ modules.dataview_blocks.blocks.feedback_creazione.code }}
```

{% if blueprint.get("world_impact", true) %}
```dataviewjs
{{ modules.dataview_blocks.blocks.world_impact.code }}
```
{% endif %}
````

## Fallback Markdown

| Blocco | Valore |
| --- | --- |
| Identita |  |
| Gancio |  |
| Uso al tavolo |  |
| Prossima mossa |  |
| Conseguenza potenziale |  |
| Connessioni |  |
| Entita impattate |  |
| Propaga a |  |
| Versione pubblica |  |
