---
cssclasses:
  - indice
generated_by: release_clean
---

# {{ title }}
{% if body %}

{{ body }}
{% endif %}
{% for workflow_id in workflow_blocks %}
{% set workflow = workflows.get(workflow_id, {}) %}

<!-- workflow:quick_actions:start {{ workflow_id }} -->
> [!regia] Azioni rapide
> {{ workflow.get("user_goal", "") }}
{% set plugins = workflow.get("required_plugins", []) %}
{% if plugins and workflow.get("audience") != "user" %}>
> Plugin coinvolti: {% for plugin in plugins %}`{{ plugin }}`{% if not loop.last %}, {% endif %}{% endfor %}.
{% endif %}
{% for action in workflow.get("quick_actions", []) %}>
> **{{ action.get("label", "") }}** - {{ action.get("use_when", "") }}
> `BUTTON[{{ action.get("button", "") }}]`
{% endfor %}
{% for group in workflow.get("action_groups", {}).values() %}>
> [!regia]- {{ group.get("label", "") }}
{% if group.get("purpose") %}> {{ group.get("purpose") }}
{% endif %}
{% for action in group.get("actions", []) %}>
> **{{ action.get("label", "") }}** - {{ action.get("use_when", "") }}
> `BUTTON[{{ action.get("button", "") }}]`
{% endfor %}
{% endfor %}
<!-- workflow:quick_actions:end {{ workflow_id }} -->
{% endfor %}
