{% import '_macros.j2' as m with context -%}
<% await tp.user.crea_{{ template.id }}(tp) %>
# `=this.nome`

{{ m.identita_card(template) }}

````tabs
--- Statblock 5.5e

```statblock
layout: {{ core.statblock.layout }}
name: <% tp.file.title %>
size: Medio
type: umanoide
subtype: ""
alignment: neutrale
ac: 10
hp: 10
hit_dice: 2d8
speed: 9 m
initiative: "+0"
stats: [10, 10, 10, 10, 10, 10]
saves: []
skillsaves: []
damage_vulnerabilities: ""
damage_resistances: ""
damage_immunities: ""
condition_immunities: ""
gear: ""
senses: Percezione passiva 10
languages: Comune
cr: "1"
pb: "+2"
traits: []
actions: []
bonus_actions: []
reactions: []
legendary_description: ""
legendary_actions: []
```

--- Statblock 5e

> Stessa creatura, resa **classica 5e** (cambia solo il layout). I numeri si modificano nel tab *Statblock 5.5e*: questa scheda li rispecchia (richiede `statblock: inline`, già impostato dal wizard).
```statblock
layout: {{ core.statblock.layout_5e }}
monster: <% tp.file.title %>
```

--- Al tavolo

{{ m.tavolo() }}
--- Lore

{{ m.scheda(template.category) }}
> [!note]- Aspetto e indole
> Com'è fatta, come si muove, che impressione dà. I numeri 5e sono nel tab Statblock.

> [!quote]- Versione player-safe
> {{ m.field('player_safe', label=false) }}

{{ m.wizard_body(template.category) }}
--- Carattere

{{ m.carattere(template.category) }}
--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti() }}
--- Vista

{{ m.vista() }}
````
