{% import '_macros.j2' as m with context -%}
<% await tp.user.create_entity(tp, "{{ template.id }}") %>
# `=this.nome`

{{ m.identita_card(template) }}

````tabs
--- Statblock

```statblock
layout: {{ core.statblock.layout }}
name: <% tp.file.title %>
size: Medio
type: umanoide
subtype: ""
alignment: neutrale
ac: 10
hp: 10
hit_dice: 2d8
speed: 9 m
initiative: "+0"
stats: [10, 10, 10, 10, 10, 10]
saves: []
skillsaves: []
damage_vulnerabilities: ""
damage_resistances: ""
damage_immunities: ""
condition_immunities: ""
senses: Percezione passiva 10
languages: Comune
cr: "1"
traits: []
actions: []
bonus_actions: []
reactions: []
legendary_actions: []
```

--- Al tavolo

{{ m.tavolo() }}
--- Lore

> [!note]- Descrizione
> {{ m.field('player_safe', label=false) }}

{{ m.wizard_body(template.category) }}
--- Carattere

{{ m.carattere(template.category) }}
--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti() }}
--- Vista

{{ m.vista() }}
````
