{% import '_macros.j2' as m with context -%}
<% await tp.user.create_entity(tp, "{{ template.id }}") %>
# `=this.nome`

````tabs
--- Statblock

```statblock
layout: {{ core.statblock.layout }}
name: <% tp.file.title %>
size: Medio
type: umanoide
alignment: ""
ac: 10
hp: 10
hit_dice: ""
speed: 9 m
stats: [10, 10, 10, 10, 10, 10]
cr: "0"
senses: ""
languages: ""
traits: []
actions: []
```

--- Scena

> [!danger] Uso al tavolo
> {{ m.field('uso_al_tavolo', label=false) }}

> [!warning]- Pressione
> {{ m.field('pressione') }}
>
> {{ m.field('prossima_mossa') }}

{{ m.wizard_body(template.category) }}
--- Collegamenti

> [!example] Ancore
> {{ m.field('mondo') }}
>
> {{ m.field('connessioni') }}
>
> {{ m.field('sessioni') }}

--- Vista

```dataviewjs
const source = await dv.io.load("z.automazioni/views.js");
eval(source);
renderEntityPanel(dv, dv.current());
```
````
