{% import '_macros.j2' as m with context -%}
<% await tp.user.crea_{{ template.id }}(tp) %>
# `=this.nome`

{{ m.identita_card(template) }}

````tabs
--- Scena

{{ m.tavolo() }}
> [!tip]- Tiri
> `dice: 1d20`

--- Combattimento

```encounter
name: <% tp.file.title %>
creatures:
  - 1: Nome Creatura
```

--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti() }}
--- Vista

{{ m.vista() }}
````
