{% import '_macros.j2' as m with context -%}
<% await tp.user.create_entity(tp, "{{ template.id }}") %>
# `=this.nome`

````tabs
tab: Scena

> [!danger] Uso al tavolo
> {{ m.field('uso_al_tavolo', label=false) }}

> [!warning]- Pericolo
> {{ m.field('pressione') }}
>
> {{ m.field('prossima_mossa') }}

tab: 5.5e

> [!info] Dati gioco
> {{ m.field('ca') }}
>
> {{ m.field('pf') }}
>
> {{ m.field('cd') }}
>
> {{ m.field('danno') }}

> [!tip]- Tiri
> `dice: 1d20`

tab: Collegamenti

> [!example] Ancore
> {{ m.field('mondo') }}
>
> {{ m.field('connessioni') }}

tab: Vista

```dataviewjs
const source = await dv.io.load("z.automazioni/views.js");
eval(source);
renderEntityPanel(dv, dv.current());
```
````
