{{ templater_entry | default("<% await tp.user.incontro(tp) %>") }}
# `=this.nome`

> [!scena] Obiettivo
> `INPUT[text:obiettivo]`

````tabs
tab: Incontro

```encounter
players: []
creatures: []
```

tab: Creature

```statblock
monster: {{ monster | default("Creatura") }}
```

tab: Tavolo

> [!conflitto]- Complicazioni
> `dice: 1d6`
>
> Terreno: `INPUT[text:terreno]`
>
> Ricompense: `INPUT[inlineList:ricompense]`
>
> Riferimenti regola: `INPUT[riferimenti_regola][:riferimenti_regola]`
>
> Tabelle collegate: `INPUT[tabelle_collegate][:tabelle_collegate]`

tab: Riferimenti

> [!regia] Fonti E Link Granulari
> Fonti: `INPUT[fonti][:fonti]`
>
> Riferimenti SRD: `INPUT[riferimenti_srd][:riferimenti_srd]`
>
> Sezioni collegate: `INPUT[sezioni_collegate][:sezioni_collegate]`
>
> Blocchi collegati: `INPUT[blocchi_collegati][:blocchi_collegati]`
>
> Tag: `INPUT[tags][:tags]`

tab: Fallback

| Nome | Iniziativa | CA | PF | Condizioni |
| --- | --- | --- | --- | --- |
|  |  |  |  |  |
````
