{% import '_macros.j2' as m with context -%}
<% await tp.user.create_entity(tp, "{{ template.id }}") %>
# `=this.nome`

{{ m.identita_card(template) }}

````tabs
--- Lore

> [!note]- Descrizione
> Scrivi qui il contenuto lore vero della nota.

> [!quote]- Versione player-safe
> {{ m.field('player_safe', label=false) }}

{{ m.wizard_body(template.category) }}
--- Al tavolo

{{ m.tavolo() }}
{% if core.get('assi_tematici', {}).get(template.category) %}
--- Carattere

{{ m.carattere(template.category) }}
{% endif %}
--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti(with_mondo=(template.category != "mondo")) }}
--- Vista

{{ m.vista() }}

> [!tip] Azioni
> `BUTTON[marca-canonico]`
>
> `BUTTON[archivia-nota]`
````
