{% import '_macros.j2' as m with context -%}
<% await tp.user.create_entity(tp, "{{ template.id }}") %>
# `=this.nome`

{{ m.identita_card(template) }}

````tabs
--- Lore

> [!abstract] Cronologia
> {{ m.field('quando') }}

> [!note]- Descrizione
> Cosa accade, chi coinvolge e perche' conta al tavolo.

> [!quote]- Versione player-safe
> {{ m.field('player_safe', label=false) }}

{{ m.wizard_body(template.category) }}
--- Al tavolo

{{ m.tavolo() }}
--- Cronologia mondo

```dataview
table without id file.link as Evento, quando as Quando, mondo as Mondo
from ""
where categoria = "evento"
sort quando asc
```

--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti() }}
--- Vista

{{ m.vista() }}

> [!tip] Azioni
> `BUTTON[marca-canonico]`
>
> `BUTTON[archivia-nota]`
````
