{% import '_macros.j2' as m with context -%}
<% await tp.user.crea_{{ template.id }}(tp) %>
# `=this.nome`

{{ m.identita_card(template) }}

{{ m.guida(template.category, template.title) }}
{% if core.get('categories', {}).get(template.category, {}).get('famiglie') %}
{{ m.classificazione(template.category) }}
{% endif %}
````tabs
--- ⚠ Insidia

{{ m.scheda(template.category) }}
--- 🎬 Scena

{{ m.wizard_body(template.category) }}
> [!tip]- Tiri
> `dice: 1d20`

--- 🔗 Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti(with_sessioni=false) }}
--- 👁 Vista

{{ m.vista() }}
````
