{% import '_macros.j2' as m with context -%}
<% await tp.user.crea_{{ template.id }}(tp) %>
# `=this.nome`

{{ m.identita_card(template) }}

{% if core.get('categories', {}).get(template.category, {}).get('famiglie') %}
{{ m.classificazione(template.category) }}
{% endif %}
````tabs
{% if core.get('scheda', {}).get(template.category) %}
--- Scheda

{{ m.scheda(template.category) }}
{% endif %}
--- Lore

> [!note]- Descrizione
> Cosa è, com'è, perché conta al tavolo.

{{ m.wizard_body(template.category) }}
{% if core.get('assi_tematici', {}).get(template.category) %}
--- Carattere

{{ m.carattere(template.category) }}
{% endif %}
--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti(with_sessioni=false) }}
--- Vista

{{ m.vista() }}
````
