{% import '_macros.j2' as m with context -%}
<% await tp.user.crea_{{ template.id }}(tp) %>
# `=this.nome`

````tabs
--- Prepara

> [!tip] Obiettivo
> {{ m.field('obiettivo', label=false) }}

> [!quote]- Apertura
> {{ m.field('apertura', label=false) }}

> [!warning]- Pressioni
> {{ m.field('pressione') }}
>
> {{ m.field('prossima_mossa') }}

> [!todo]- Prep di sessione
> Spunta mentre prepari. Compaiono in Home → *Al tavolo* finché aperte.
> - [ ] Recap della scorsa sessione #prep
> - [ ] Incontri probabili pronti #prep
> - [ ] Clock e fronti aggiornati #prep
> - [ ] Un gancio nuovo da seminare #gancio

--- Tavolo

> [!info] Live
> {{ m.field('scena_corrente') }}
>
> Tiro rapido: `dice: 1d20`

> [!todo]- Task
> ```tasks
> not done
> path includes Mondi/Sessioni
> ```

--- Collegamenti

{{ m.collegamenti(with_sessioni=false) }}
--- Vista

{{ m.vista('renderSessionPanel') }}
````
