{% import '_macros.j2' as m with context -%}
<% await tp.user.crea_{{ template.id }}(tp) %>
# `=this.nome`

{{ m.identita_card(template) }}

````tabs
--- Meccanica

{{ m.scheda(template.category) }}
--- Effetto

{{ m.wizard_body(template.category) }}
--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti(with_sessioni=false) }}
--- Vista

{{ m.vista() }}
````
