{% import '_macros.j2' as m with context -%}
<% await tp.user.create_entity(tp, "{{ template.id }}") %>
# `=this.nome`

{{ m.identita_card(template) }}

````tabs
--- Privilegi

I privilegi di sottoclasse si ottengono ai livelli **3 / 6 / 10 / 14**.

{{ m.wizard_body(template.category) }}
--- Collegamenti

{{ m.relazioni(template.category) }}
{{ m.collegamenti(with_sessioni=false) }}
--- Vista

{{ m.vista() }}
````
